%br.clear

%table.table.table-bordered#board
  %tr
    %td{:"data-pos-x" => "0", :"data-pos-y" => "0"}
    %td{:"data-pos-x" => "0", :"data-pos-y" => "1"}
    %td{:"data-pos-x" => "0", :"data-pos-y" => "2"}
  %tr
    %td{:"data-pos-x" => "1", :"data-pos-y" => "0"}
    %td{:"data-pos-x" => "1", :"data-pos-y" => "1"}
    %td{:"data-pos-x" => "1", :"data-pos-y" => "2"}
  %tr
    %td{:"data-pos-x" => "2", :"data-pos-y" => "0"}
    %td{:"data-pos-x" => "2", :"data-pos-y" => "1"}
    %td{:"data-pos-x" => "2", :"data-pos-y" => "2"}
