// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #f0f0f0;

.well {
  padding-top: 30px
}

table#board {
  margin: 20px;
  margin-top: 40px;
  width: 450px;
  height: 450px;
  background-color: $grey;

  .X, .O {
    background-color: darken($grey, 5%);
    background-repeat: no-repeat;
  }

  .X {
    background-image: url('/images/x.png')
  }

  .O {
    background-image: url('/images/o.png')
  }
}

#board.cursor-X {
  cursor: crosshair;
}

#board.cursor-O {
  cursor: help;
}

ul.recent_games {
  padding-top: 50px;
  margin-top: 40px;
}

span.red {
  color: red;
  font-weight: bold;
}

